.lastest-update{
  width: 750px;
  min-height: 84px;
  background-color:#fff;
  .title{
    width: 750px;
    height: 84px;
    padding:18px 0 26px 30px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(250, 245, 245);
    font-size:28px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
  }
  .item-container{
    background-color: #F4F6F8;
  }
}